.footer {
   background-color: #222222;

   &__row {
      padding: 15px 0;
      @media (max-width: $md1+px) {
         padding: 15px;
      }
      p {
         font-family: "Maven Pro";
         font-size: 12px;
         font-weight: 400;
         color: #454545;
         @media (max-width: $md4+px) {
            text-align: center;
         }
      }
   }
}

//====================================================================================================

//====================================================================================================
